.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}





/* App.css */
body {
  background-color: black;
  color: white; /* ensures text is visible */
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  background-color: black;
}
